<div class="max-w-xl">
  <%= form_with(model: assignment) do |form| %>
    <% if assignment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

        <ul>
          <% assignment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="border-b">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Task and Member Details</h3>
        <p class="mt-1 text-sm text-gray-500">Select a task and member (required) and optionally add a due date.</p>
      </div>

      <div class="field mt-6">
        <%= form.label :member_id, class: "label" %>
        <%= form.select :member_id,
                        options_for_select(@members.collect { |u| [u.name, u.id] }, assignment.member&.id),
                        { include_blank: "" },
                        class: "form-select" %>
      </div>

      <div class="field mt-6">
        <%= form.label :task_id, class: "label" %>
        <%= form.select :task_id,
                        options_for_select(@tasks.collect { |u| [u.name, u.id] }, assignment.task&.id),
                        { include_blank: "" },
                        class: "form-select" %>
      </div>

      <div class="field mt-6">
        <%= form.label :due_date, class: "label" %>
        <%= form.date_field :due_date, class: "input" %>
      </div>

      <br/>
    </div>

    <div class="border-b">
      <div class="mt-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">Reward</h3>
        <p class="mt-1 text-sm text-gray-500">Set the amount of reward points for completing this assignment.</p>
      </div>

      <div class="flex mt-6">
        <div class="field mr-4">
          <%= form.label :reward, class: "label" %>
          <%= form.number_field :reward, class: "input" %>
        </div>
      </div>

      <br/>
    </div>

    <!-- Consequence builder -->
    <%= form.fields_for :consequence do |consequence_builder| %>
      <div class="border-b">
        <div class="mt-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">Consequence</h3>
          <p class="mt-1 text-sm text-gray-500">Select the consequence amount, duration, and type for not completing the task.</p>
        </div>

        <div class="flex w-full mt-6">
          <div class="field w-full mr-2">
            <%= consequence_builder.label :value, class: "label" %>
            <%= consequence_builder.number_field :value, class: "input" %>
          </div>

          <div class="field w-full mr-2">
            <%= consequence_builder.label :duration, class: "label" %>
            <%= consequence_builder.select :duration,
                                           options_for_select(Consequence.durations.map { |key, value| [key.titleize, Consequence.durations.key(value)] }),
                                           {},
                                           class: "input" %>
          </div>

          <div class="field w-full">
            <%= consequence_builder.label :type, class: "label" %>
            <%= consequence_builder.select :category,
                                           options_for_select(Consequence.categories.map { |key, value| [key.titleize, Consequence.categories.key(value)] }),
                                           {},
                                           class: "form-select" %>
          </div>
        </div>

        <br/>
      </div>
    <% end %>

    <div class="actions mt-4 text-right">
      <%= form.submit class: "btn btn-green cursor-pointer" %>
    </div>
  <% end %>
</div>
