<!-- TODO: Convert to turbo stream, remove the Stimulus stuff and the
           messages container -->
<div id="assignment-show-message-container" class="max-w-xl"></div>

<div class="pt-2 pb-4">
  <div class="max-w-7xl flex align-middle">
    <%= image_tag avatar_url_for(@assignment.user, size: 50), class: "rounded-full" %>
    <h1 class="ml-2 pt-2 text-3xl font-black text-gray-900"><%= @assignment.task.name %></h1>
  </div>
</div>

<div class="max-w-xl">
  <div class="border-b">
    <div class="field mt-6">
      <div class="label">
        task description
      </div>
      <div class="border-container">
        <%= @assignment.task.description %>
      </div>
    </div>

    <div class="field mt-6">
      <div class="label">
        User
      </div>
      <div class="flex border-container">
        <%= @assignment.user.name %>
      </div>
    </div>

    <div class="field mt-6">
      <div class="label">
        Status
      </div>
      <div id="status-container" class="border-container">
        <%= @assignment.status.humanize %>
      </div>
    </div>

    <% if @assignment.due_date.present? %>
        <div class="field mt-6">
          <div class="label">
            Due Date
          </div>
          <div class="border-container">
            <%= @assignment.due_date %>
          </div>
        </div>
    <% end %>

    <br/>
  </div>

  <div class="border-b">
    <div class="mt-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">Reward</h3>
    </div>

    <div class="flex mt-6 border-container">
      <%= @assignment.reward.pretty_reward %>
    </div>

    <br/>
  </div>

  <div class="border-b">
    <div class="mt-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">Consequence</h3>
    </div>

    <div class="flex w-full mt-6 border-container">
      <%= @assignment.consequence.pretty_consequence %>
    </div>

    <br/>
  </div>
</div>

<div data-controller="assignments" class="max-w-xl mt-6 text-right">
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_assignment_path(@assignment), class: "btn btn-gray" %>
  <% end %>

  <% if @assignment.in_progress? %>
    <div id="mark-complete-button"
         data-action="click->assignments#markComplete"
         data-current-user-id="<%= current_user.id %>"
         data-assignment-id="<%= @assignment.id %>"
         class="btn btn-green">
      Mark Complete
    </div>
  <% end %>
</div>
