<div class="max-w-xl">
  <%= form_with(model: assigned_chore) do |form| %>
    <% if assigned_chore.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(assigned_chore.errors.count, "error") %> prohibited this assigned_chore from being saved:</h2>

        <ul>
          <% assigned_chore.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="border-b">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Chore and User Details</h3>
        <p class="mt-1 text-sm text-gray-500">Select a chore and user (required) and optionally add a due date.</p>
      </div>

      <div class="field mt-6">
        <%= form.label :user_id, class: "label" %>
        <%= form.select :user_id,
                        options_for_select(@users.collect { |u| [u.name, u.id] }, assigned_chore.user&.id),
                        { include_blank: "" },
                        class: "form-select" %>
      </div>

      <div class="field mt-6">
        <%= form.label :chore_id, class: "label" %>
        <%= form.select :chore_id,
                        options_for_select(@chores.collect { |u| [u.name, u.id] }, assigned_chore.chore&.id),
                        { include_blank: "" },
                        class: "form-select" %>
      </div>

      <div class="field mt-6">
        <%= form.label :due_date, class: "label" %>
        <%= form.date_field :due_date, class: "input"%>
      </div>
      <br/>
    </div>

    <!-- Reward builder -->
    <%= form.fields_for :reward do |reward_builder| %>
      <div class="border-b">
        <div class="mt-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">Reward</h3>
          <p class="mt-1 text-sm text-gray-500">Select the reward amount and type for successfully completing the chore.</p>
        </div>

        <div class="flex mt-6">
          <div class="field mr-4">
            <%= reward_builder.label :value, class: "label" %>
            <%= reward_builder.number_field :value, class: "input" %>
          </div>

          <div class="field w-full">
            <%= reward_builder.label :type, class: "label" %>
            <%= reward_builder.select :category,
                                      options_for_select(Reward.categories.map { |key, value| [key.titleize, Reward.categories.key(value)] }),
                                      {},
                                      class: "form-select" %>
          </div>
        </div>
        <br/>
      </div>
    <% end %>

    <!-- Consequence builder -->
    <%= form.fields_for :consequence do |consequence_builder| %>
      <div class="border-b">
        <div class="mt-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">Consequence</h3>
          <p class="mt-1 text-sm text-gray-500">Select the consequence amount, duration, and type for not completing the chore.</p>
        </div>

        <div class="flex w-full mt-6">
          <div class="field w-full mr-2">
            <%= consequence_builder.label :value, class: "label" %>
            <%= consequence_builder.number_field :value, class: "input" %>
          </div>

          <div class="field w-full mr-2">
            <%= consequence_builder.label :duration, class: "label" %>
            <%= consequence_builder.select :duration,
                                           options_for_select(Consequence.durations.map { |key, value| [key.titleize, Consequence.durations.key(value)] }),
                                           {},
                                           class: "input" %>
          </div>

          <div class="field w-full">
            <%= consequence_builder.label :type, class: "label" %>
            <%= consequence_builder.select :category,
                                           options_for_select(Consequence.categories.map { |key, value| [key.titleize, Consequence.categories.key(value)] }),
                                           {},
                                           class: "form-select" %>
          </div>
        </div>
        <br/>
      </div>
    <% end %>

    <div class="actions mt-4 text-right">
      <%= form.submit class: "btn btn-green cursor-pointer" %>
    </div>
  <% end %>
</div>
