<div class="max-w-2xl">
  <%= form_with(model: task) do |form| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name, class: "label" %>
      <%= form.text_field :name, class: "input", placeholder: "Dishes, Walk the dog, etc." %>
    </div>

    <div class="field">
      <%= form.label :description, class: "label" %>
      <%= form.text_area :description, class: "input", rows: 5, placeholder: "Describe the task and all necessary steps to complete it" %>
    </div>

    <!-- TODO: Nested form to create the task with an assigned member -->

    <div class="actions mt-4 text-right">
      <%= form.submit class: "btn btn-green" %>
    </div>
  <% end %>
</div>
